<h1 class="form_shark_title">New shark</h1>

<%= render "form", shark: @shark %>

<br>

<div class="back-to_prev_shark_state ">
  <%= link_to "Back to sharks", sharks_path, class: 'btn btn-default' %>
</div>
